.container {
    width: 950px;
    background-color: rgb(219, 219, 219);
    margin: auto;
    display: inline-block;
    text-align: center;
    color: rgb(76, 75, 75);
    font-family: Tahoma;
}

.bnrs {
    height: 200px;
    width: 890px;
    margin: 25px 25px 25px 25px;
    display: flex;
    align-items: center;
}

#imgs_bnr1 {
    background-color: skyblue;
    justify-content: space-around;
}

#imgs_bnr2 {
    background-color: rgb(237, 152, 180);
    justify-content: space-evenly;
}

#imgs_bnr3 {
    background-color: white;
    justify-content: space-around;
}

img {height:170px;width:170px;}